---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<style>
  body {
    text-align: justify;
    text-justify: inter-word; 
  }
</style>


<p></p>
<h1>Publications</h1>
    <div style="height: -0.1cm;"></div>
<h2>Maintenance policy optimization for generic systems under limited inspection and maintenance resources</h2>
<ul>
    <li><b>Y. Wei</b>, S. Zhao, Y. Cheng*, “An Optimal Multi-Level Inspection and Maintenance Policy for a Coherent System: An Improved SARSOP Approach”, <em>Engineering Management</em>, accepted.</li>
    <li><b>Y. Wei</b>, H. Liao, and Y. Cheng*, “Making an Optimal Inspection-free Maintenance Decision for a System Subject to Hidden Malfunctions”, <em>IISE Transactions</em>, in press.</li>
    <li><b>Y. Wei</b>, A. Li, Y. Li, and Y. Cheng*, “An Optimal Predictive Inspection and Maintenance Policy for a Multi-State System Subject to Self-Announcing Failures: A Belief-based SMDP Approach”, <em>Reliability Engineering & System Safety</em>, vol. 265(B), p.111497, 2026</li>
    <li><b>Y. Wei</b>, A. Li, Y. Cheng* and Y. Li, “An Optimal Multi-Level Inspection and Maintenance Policy for a Multi-Component System with a Protection Component”, <em>Computers & Industrial Engineering</em>, vol. 201, p. 110898, 2025.</li>
    <li>S. Zhao, <b>Y. Wei</b>, Y. Li, and Y. Cheng*, “A Multi-Agent Reinforcement Learning (MARL) Framework for Designing an Optimal State-Specific Hybrid Maintenance Policy for a Series k-out-of-n Load-Sharing System”, <em>Reliability Engineering & System Safety</em>, vol. 265(A), p. 111587, 2026. </li>
    <li>Y. Cheng, <b>Y. Wei</b> and H. Liao*, “Optimal Sampling-based Sequential Inspection and Maintenance Plans for a Heterogeneous Product with Competing Failure Modes”, <em>Reliability Engineering & System Safety</em>, vol. 218, p.108181, 2022.</li>
</ul>

<h2>Integrated maintenance and system-specific joint decision-making for mission-critical and production systems</h2>
<ul>
    <li><b>Y. Wei</b>, S. Zhao, and Y. Cheng*, “An Optimal Joint Predictive Maintenance and Mission Abort Policy Under a Cumulative Working Time Success Criterion”, <em>Risk Analysis</em>, in press.</li>
    <li>S. Zhao, <b>Y. Wei</b>, Y. Li and Y. Cheng*, “An Optimal Joint Maintenance and Mission Abort Policy for a System Executing Multi-Attempt Missions”, <em>Reliability Engineering & System Safety</em>, vol. 266(A), p.111667, 2026. </li>
    <li>Z. Huang, <b>Y. Wei</b>, and Y. Cheng*, “A Quantitative Framework for Performance-based Reliability Prediction for a Multi-Component System Subject to Dynamic Self-Reconfiguration”, <em>Reliability Engineering & System Safety</em>, vol. 262, p. 111188, 2025. </li>
    <li>S. Zhao, <b>Y. Wei</b>, Y. Cheng* and Y. Li, “A State-Specific Joint Size, Maintenance, and Inventory Policy for a k-out-of-n Load-Sharing System Subject to Self-Announcing Failures”, <em>Reliability Engineering & System Safety</em>, vol. 257(B), p. 110855, 2025.</li>
</ul>

<h2>Service reliability modeling and maintenance policy optimization for self-service systems</h2>
<ul>
  <li><b>Y. Wei</b>, Y. Cheng*, and H. Liao, “A Quantitative Maintenance Policy Development Framework for a Fleet of Self-Service Systems”, <em>Naval Research Logistics</em>, vol.52, no. 5, 750-767, 2025.</li>
  <li><b>Y. Wei</b> and Y. Cheng*, “An Optimal Two-Dimensional Maintenance Policy for Self-Service Systems with Multi-Task Demands and Subject to Competing Sudden and Deterioration-Induced Failures”, <em>Reliability Engineering & System Safety</em>, vol. 255, p. 110628, 2025.</li>
  <li><b>Y. Wei</b>, Y. Cheng*, and H. Liao, “Fleet Service Reliability Analysis of Self-Service Systems under Failure-Induced Demand Switching and a Two-Dimensional Inspection and Maintenance Policy”, <em>IEEE Transactions on Automation Science and Engineering</em>, vol.22, p. 10029, 2024.</li>
</ul>

<h2>Resilience modeling and optimization for engineered networks</h2>
<ul>
  <li><b>Y. Wei</b>, Y. Cheng, and H. Liao*, “Optimal Maintenance of a Critical Infrastructure subject to Dependent Recurrent Hazards”, <em>Sustainable and Resilient Infrastructure</em>, in press.</li>
  <li><b>Y. Wei</b>, Y. Cheng*, H. Liao, and E. A. Elsayed, “Resilience Modeling for an Engineered Network with Multimodal Performance under Multiple Recurrent Hazards”, <em>Reliability Engineering & System Safety</em>, vol. 266(A), p.111640, 2026.</li>
  <li><b>Y. Wei</b>, Y. Cheng*, and H. Liao, “Optimal Resilience-Based Restoration of a System Subject to Recurrent Dependent Hazards”, <em>Reliability Engineering & System Safety</em>, vol. 247, p. 110137, 2024.</li>
</ul>

<div style="height: 0.1cm;"></div>
{% if site.author.googlescholar %}
  <div class="wordwrap">You can find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<p></p>
<h1>Ongoing Works</h1>
<ul>
  <li>L. Wang, S. Wang, <b>Y. Wei</b>, Y. Cheng*, “Condition-Based Maintenance Optimization for General Coherent Systems”, under revision.</li>
  <li>L. Wang, S. Wang, <b>Y. Wei</b>, Y. Cheng*, “Condition-Based Production Planning to Balance Output, Risk, and Constraints”, under revision.</li>
  <li><b>Y. Wei</b>, S. Zhao, G. Liu, Y. Cheng* and Y. Li, “An Optimal Condition-Based Maintenance Policy for a Multi-Component Coherent System with Multiple Malfunction Levels”, under revision.</li>
  <li><b>Y. Wei</b>, S. Zhao, G. Liu, Y. Cheng* and Y. Li, “An Optimal Condition-Based Maintenance Policy for a Multi-Component Coherent System with Multiple Malfunction Levels”, under revision.</li>
  <li>A. Li, <b>Y. Wei*</b>, Y. Cheng, “Group Inspection and Maintenance Policy Design for a System with Multiple Heterogeneous Components”, under revision.</li>
  <li><b>Y. Wei</b>, S. Zhao, Y. Cheng*, H. Liao, “Maintenance Enhancement for a Fleet of Self-service Systems Using Customer Incentives”, under review.</li>
  <li><b>Y. Wei</b>, S. Zhao, Y. Cheng*, H. Liao, “Joint Lot-Sizing and Maintenance in Production Systems with Partial Buffer Consumption”, under review.</li>
  <li><b>Y. Wei</b>, S. Cui, Y. Cheng*, YH. Kuo, H. Liao, “Train Rerouting and Timetable Rescheduling during Typhoon Periods via Crossover Activation”, under preparation.</li>
  <li><b>Y. Wei</b>, S. Zhao, Y. Cheng*, H. Liao, “Optimal Predictive Maintenance Policy Optimization: An Iterative Ternary Search Algorithm”, under preparation.</li>
  <li><b>Y. Wei</b>, Y. Luo, Y. Cheng*, “Condition-Based Production Control, Inspection, and Maintenance in Production Systems: Structural Properties and Optimal Policies”, under preparation.</li>
  <li>L. Guo, S. Zhao, <b>Y. Wei*</b>, Y. Cheng, “Flexible Job Shop Scheduling with Machine Maintenance and Real-Time Job Acceptance: A Hierarchical Heterogeneous Graph Multi-Agent Reinforcement Learning Approach”, under preparation.</li>
  <li>S. Zhao, <b>Y. Wei</b>, Y. Cheng*, “Optimizing Hierarchical UAV Routing, Mission Abort, and Target Reassignment under Shock-Induced Failures Using Transformer-Based Reinforcement Learning”, under preparation.</li>
  <li>G. Li, <b>Y. Wei</b>, Y. Cheng*, “A Business Pattern Selection Framework for Parking Lot Operators Running Charging Piles”, under preparation.</li>
  <li>Y. Luo, <b>Y. Wei</b>, Y. Cheng*, “Maintenance Optimization in Dynamic Environment Considering Maintenance Delay”, under preparation.</li>
</ul>


<p></p>
<h1>Talks</h1>
  <ul>
    <li>
      IISE Annual Conference &amp; Expo 2025</strong>, May 29–June 3, 2025, Atlanta, GA, USA — 
      <em>“An Optimal Incentive-Embedded Maintenance Policy for a Fleet of Self-Service Systems Subject to Imperfect Monitoring.”</em>
    </li>
    <li>
      2025 NSFC-RGC Conference on Frontiers of Digital Twins in Intelligent Manufacturing and Smart Cities</strong>, April 25–28, 2025, Hong Kong — 
      <em>“State Transition Analysis in a Fleet of Service Systems under a Three-Dimensional Maintenance Policy.”</em>
    </li>
    <li>
      15th Annual International Conference on Industrial Engineering and Operations Management</strong>, Feb 18–20, 2025, Singapore — 
      <em>“Multimodal Resilience of an Engineered System Subject to Dependent Hazards.”</em>
    </li>
    <li>
      15th Annual International Conference on Industrial Engineering and Operations Management</strong>, Feb 18–20, 2025, Singapore — 
      <em>“An Optimal Joint Sampling, Inspection and Maintenance Plan for One-Shot Units.”</em>
    </li>
    <li>
      2024 INFORMS Conference on Service Science</strong>, June 22–24, 2024, Macau — 
      <em>“Maintenance Policy Optimization for Self-Service Systems with Periodic Demand Arrivals and Random Failure-Induced Demand Switchings.”</em>
    </li>
    <li>
      27th International Conference of Hong Kong Society for Transportation Studies (HKSTS)</strong>, Dec 11–12, 2023, Hong Kong — 
      <em>“Optimization of Train Timetable Scheduling and Rerouting for Passenger Evacuation during Typhoon Periods: A Stochastic Programming Approach.”</em>
    </li>
    <li>
      IISE Annual Conference &amp; Expo</strong>, May 20–23, 2023, New Orleans — 
      <em>“Optimal Maintenance Policy for a Fleet of Self-Service Systems Subject to Dynamic Failure-Induced Demand Switch.”</em>
    </li>
  </ul>


<p></p>
<h1>Service</h1>
  <ul>
    <li>
      <strong>Session Chair</strong>, 
      <em>“Monitoring, Prognosis, and Maintenance in Manufacturing and Electric Vehicle Systems”</em>, 
      IISE Annual Conference &amp; Expo 2025, May 29–June 3, 2025, Atlanta, GA, USA
    </li>
    <li>
      <strong>Session Chair</strong>, 
      <em>“Modeling, Optimization, and Learning for Complex Systems”</em>, 
      IISE Annual Conference &amp; Expo 2025, May 29–June 3, 2025, Atlanta, GA, USA
    </li>
    <li>
      <strong>Reviewer</strong>, <em>Reliability Engineering &amp; System Safety</em>, 2023 – present
    </li>
    <li>
      <strong>Reviewer</strong>, <em>Computers &amp; Industrial Engineering</em>, 2023 – present
    </li>
    <li>
      <strong>Reviewer</strong>, <em>IEEE Transactions on Reliability</em>, 2024 – present
    </li>
  </ul>


{% include base_path %}

